<html>
  <head>
    <title>Human Detection</title>
    <style>
     .main{
      text-align: center;
      background-color: #fff;
      border-radius: 20px;
      border-style:solid;
      border-width:5px;
      border-color:#98bf21;
      width: 450px;
      height: 400px;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
  }
    </style>

  </head>
  <body>
  <div class="main">
    <h1 style="color: #14c674;">Human Detection</h1>
    <img src="{{ processed_frame }}" style="display: inline-block; vertical-align: middle;">
  </div>

  </body>
</html>
